body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.text-typing{
  animation: type 1s steps(52);
  overflow: hidden;
  white-space: nowrap;
}
@keyframes type{
  0%{
    width: 0ch;
  }
  50%{
    width: 11ch;
  }
  100%{
    width: 22ch;
  }
}

.barra-navegacion a{
  text-decoration: none;
  color: white;
}

.barra-navegacion a:hover{
  background-color: rgba(245, 245, 245, 0.192);
}



.contenedor-imagen{
  position: absolute;
  text-align: center;
  margin-top:10%;
}

.foto-personal{
  height: 22%;
  width: 22%;
}

.logo{
  margin: 0 10px;
  height: 50px;
  width: 50px;
}

.altura-nav{
  height: 100vh;
}

@media (min-width: 768px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}

.altura-carousel{
  height: 70%;
}
